@model MyProject.Models.PersonModel

@{
    ViewBag.Title = "PersonDetailsView";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetailsView</title>
    <style>
        #productDetailsViewHeadings {
            color: black;
            font-weight: bolder;
            margin-top:20%;
            margin-left:7%;
         }
        .Heading {
            color: black;
            font-weight: bolder;
            margin-top: 5%;
            margin-left: 7%;
        }
        #StaffImageDiv {
            height: 90vh;
            border-right: 1px solid #e0e0e0;
        }
        .productDetails{
            color:black;
            margin-left:8%;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            margin-top:40px;

        }
        #FirstDiv {
            align-items: center;
            height:90vh;
        }

        #ThirdDiv{
            height:90vh;
        }
        .delButton{
            margin-top:20px;
            margin-left:10%;
            padding:10px;
            font-size:large;
            width:100px;
            background-color:white;
            color:black;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        }
        .editButton {
            margin-top: 20px;
            padding: 10px;
            width: 110px;
            font-size: large;
            background-color: black;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        }
        #confirm_modal {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        #userImage
        {
            width:250px;
            height:250px;
            border-radius:50%;
            margin:40px;
        }
    </style>
    <script>
        function delete_confirm() {
            $("#confirm_modal").modal('show');
        }
        function confirmed_delete() {
            var url = '@Url.Action("deleteOrEdit", "Person")';
            window.location.href = url;
        }

    </script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3" id="StaffImageDiv">
                <img id="userImage" src="@Model.Image" />
                <h3 class="Heading">Internal Details</h3><hr />
                <h4 class="productDetails">Password:@Model.Password</h4><hr />
                <h4 class="productDetails">Created By:@ViewBag.CreatedBy</h4><hr />
            </div>

            <div class="col-lg-5" id="FirstDiv">
                <h1 id="productDetailsViewHeadings">@Model.Name</h1><hr />
                <h4 class="productDetails">Address: @Model.Address</h4><hr />
                <h4 class="productDetails">CNIC:@Model.Cnic</h4><hr />
                <h4 class="productDetails">Phone:@Model.Phone</h4><hr />

                @if (ViewBag.CustomerOrStaff == "Staff")
                {
                    <h4 class="productDetails">Salary:@Model.Salary</h4><hr />
                }

                <div class="row" style="margin-left:0%">
                    <div class="col-lg-6">
                        <button class=' delButton' id="DeleteButton" onclick="delete_confirm()" type='submit' name='delete' value=@Model.Id>Delete</button>
                    </div>
                    <div>
                        <form action="/Products/deleteOrEdit" method="post" class='form-group'>
                            <button class='editButton' type='submit' name='edit' value=@Model.Id>Edit</button>
                        </form>
                    </div>
                </div>
            </div>
            @if (ViewBag.CustomerOrStaff == "Customer")
            {
                <div class="col-lg-4">
                    <h3 class="Heading" >Guarantees For This Customer</h3><br />
                    <table class="table table-bordered table-striped table-hover text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tahir</td>
                                <td>03024677533</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>

    <!--DELETE CONFIRMATION MODAL-->
    <div class="modal" tabindex="-1" role="dialog" id="confirm_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Delete Product</h2>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete this Staff?</h5>
                </div>
                <div class="modal-footer">
                    <button id="confirmed_button" onclick="confirmed_delete()" type="button" class="btn btn-danger">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

